/* Reset des styles par défaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style du corps de la page */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  padding: 20px;
}

/* Style du titre principal */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style du formulaire */
#note-form {
  margin-bottom: 20px;
}

/* Style des champs du formulaire */
label {
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style des boutons */
button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button#submit-btn {
  background-color: #4CAF50;
  color: white;
}

button#submit-btn:hover {
  background-color: #45a049;
}

button#update-btn,
button#delete-btn,
button#export-btn,
button#delete-all-btn {
  background-color: #f0ad4e;
  color: white;
}

button#update-btn:hover,
button#delete-btn:hover,
button#export-btn:hover,
button#delete-all-btn:hover {
  background-color: #eea236;
}

/* Style de la liste des notes */
h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

ul#note-list {
  list-style-type: none;
}

ul#note-list li {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

ul#note-list li:hover {
  background-color: #f0f0f0;
}
